{% extends 'base.html' %} 

{% block content %}

<h1 class = "text-center">ABOUT</h1>

<h4 class = "text-center">Welcome to my website!</h1>

<p class = "text-center">Hi, my name is Grace, a junior year student studying fashion design at Parsons. I am also interested in coding, and for 
    this time I am trying to build a website about heart disease. From the dataset I did some data visualization and logistic regression 
    machine learning model in Colab Notebook. Then I build a webpage with Flask and deploy the data visualization and machine learning model on my webpage.
    You can look at what might affect the risk of getting heart disease, then you can try to put your information in and make prediction for yourselve.
</p>


{% endblock %}